<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MSDeploy</PublishProvider>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <MSDeployServiceURL>your-server.example.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/CleanArchWeb.Api</DeployIisAppPath>
    <UserName></UserName>
    <IncludeIisSettings>False</IncludeIisSettings>
    <UseAppHost>False</UseAppHost>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish></SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
</Project>